/* .user-profile {
    height: 200px;
} */

.single-profile-row {
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.single-profile, .followers, .following, .posts {
    padding: 0px;
    cursor: pointer;
}

.single-profile, .followers, .following {
    border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.single-profile-jumb, .followers-jumb, .following-jumb, .posts-jumb {
    padding: 10px;
    margin: 0px;
    text-align: center;
    font-size: 20px;
} 