h2 {
    padding-left: 25px;
}

.new-post-jumbotron, .all-posts-jumbotron {
    padding: 2rem;
    margin: 0px 25px 25px 25px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.poster-container {
    display: inline-flex;
    padding: 5px;
    height: 45px;
}

.poster-container:hover {
    border: 2px solid;
    text-decoration: none;
}

.poster-image {
    font-size: 35px;
    margin-right: 10px;
}

.poster {
    font-size: 20px;
    display: inline-flex;
    align-items: center;
}

.edit-timestamp {
    padding-left: 10px;
    margin-bottom: 10px;
}

.content {
    padding: 10px;
    margin-bottom: 1rem;
}

.likes-comments {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.liked, .unliked, .comment {
    color: #007bff;
    margin-right: 8px;
    cursor: pointer;
}

.likes, .comments {
    display: inline-flex;
}

.likes {
    margin-right: 25px;
}

.like-container, .unlike-container {
    cursor: pointer;
}

.no-like {
    display: none;
    position: relative;
    top: 25px;
    right: 9rem;
    background: rgba(255, 0, 0, 0.3);
    color: red;
}

.current-item {
    display: inline-flex;
    align-items: center;
}

.current-item {
    font-size: 18px;
    padding: 5px;
}

.page-item {
    display: inline-flex;
}

.page-link {
    display: inline;
}