{% extends "network/layout.html" %}

{% load static %}

{% block scripts %}
    <script src="{% static 'network/scripts/like.js' %}"></script>
    <script src="{% static 'network/scripts/main.js' %}"></script>
{% endblock %}

{% block body %}
    {% for post in posts %}
        <div class="jumbotron all-posts-jumbotron" id="{{ post.id }}">
            <a title="View user's profile" href="{% url 'profile' post.poster.id %}" class="poster-container">
                <i class="material-icons poster-image">person</i>
                <span class="poster">Posted by {{ post.poster }}</span>
            </a>

            <div class="edit-timestamp">
                {% if user == post.poster %}
                    <span style="margin-right: 5px;"><a href="#">Edit</a></span>
                {% endif %}
                <span>{{ post.timestamp }}</span>
            </div>

            <div class="jumbotron content">{{ post.content }}</div>

            <div class="likes-comments">
                <span class="likes">
                    <span class="like-status" id="like{{ post.id }}">
                        <a class="unlike-link" id="unlike-icon{{ post.id }}">
                            <i class="material-icons unliked" title="Like">favorite_border</i>
                        </a>
                        <a class="like-link" id="like-icon{{ post.id }}">
                            <i class="material-icons liked" title="Unlike">favorite</i>
                        </a>
                    </span>
                    <span class="num-of-likes" id="num-like{{ post.id }}"></span>
                </span>
                <span class="no-like" id="no-like{{ post.id }}">Login or Sign up to like post</span>
            </div>
        </div>
    {% endfor %}
{% endblock %}