{% extends "network/layout.html" %}

{% load static %}

{% block styles %}
    <link href="{% static 'network/styles/logo.css' %}" rel="stylesheet">
    <link href="{% static 'network/styles/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="{% static 'network/scripts/profile.js' %}"></script>
    <script src="{% static 'network/scripts/like.js' %}"></script>
    <script src="{% static 'network/scripts/main.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row single-profile-row">
            <div class="col-4 posts">
                <div class="jumbotron posts-jumb" id="single-posts">Posts<small class="profile-num">20</small></div>
            </div>
            <div class="col-4 followers">
                <div class="jumbotron followers-jumb" id="single-followers">Followers<small class="profile-num">20</small></div>
            </div>
            <div class="col-4 following">
                <div class="jumbotron following-jumb" id="single-following">Following<small class="profile-num">20</small></div>
            </div>
        </div>
    </div>

    <div id="posts-view">
        <h3 style="padding: 15px;">Posts</h3>

        {% for post in posts %}
            <div class="jumbotron all-posts-jumbotron" id="{{ post.id }}">
                <a title="My profile" href="#" class="poster-container">
                    <i class="material-icons poster-image">person</i>
                    <span class="poster">Posted by {{ post.poster }}</span>
                </a>

                <div class="edit-timestamp">
                    {% if user == post.poster %}
                        <span style="margin-right: 5px;"><a href="#">Edit</a></span>
                    {% endif %}
                    <span>{{ post.timestamp }}</span>
                </div>

                <div class="jumbotron content">{{ post.content }}</div>

                <div class="likes-comments">
                    <span class="likes">
                        <span class="likes">
                            <span class="like-status" id="like{{ post.id }}">
                                <a class="unlike-link" id="unlike-icon{{ post.id }}">
                                    <i class="material-icons unliked" title="Like">favorite_border</i>
                                </a>
                                <a class="like-link" id="like-icon{{ post.id }}">
                                    <i class="material-icons liked" title="Unlike">favorite</i>
                                </a>
                            </span>
                            <span class="num-of-likes" id="num-like{{ post.id }}"></span>
                        </span>
                    </span>
                    <span class="comments">
                        <a href="#"><i class="material-icons comment">comment</i></a>
                        <span>{{ post.num_of_comments }}</span>
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="container-fluid">
        <div class="row" id="profile-view">
            <div class="col-12">
                <h3 class="change-pwd-heading">Change Password</h3>

                <form method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="prev-pwd">Previous password:</label>
                        <input type="text" class="form-control" id="prev-pwd" placeholder="Enter previous password" name="prev-pwd">
                    </div>
                    <div class="form-group">
                        <label for="new-pwd">New password:</label>
                        <input type="password" class="form-control" id="new-pwd" placeholder="Enter password" name="new-pwd">
                    </div>
                    <div class="form-group">
                        <label for="confirm-pwd">Enter new password:</label>
                        <input type="password" class="form-control" id="confirm-pwd" placeholder="Enter password again" name="confirm-pwd">
                    </div>
                    <div class="form-group">
                        <div class="jumbotron change-pwd-jumb">
                            <div id="8-char"><span>&times;</span>Passowrd contains at least 8 character</div>
                            <div id="upper-case"><span>&check;</span>Password contains at least one upper case</div>
                            <div id="lower-case">Password contains at least one lower case</div>
                            <div id="one-digit">Password contains at least one digit</div>
                            <div class="pwd-match-times pwd-match-check" id="pwd-match"><span>&check;</span><span>&times;</span>New passwords match</div>
                        </div>
                    </div>
                    <button id="change-pwd-btn" type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <div class="row" id="followers-view">
            {% if poster.id != user.id %}
                <div class="follow">
                    <button class="btn btn-primary btn-primary-sm">Follow this user +</button>
                </div>
            {% endif %}
        </div>
        <div class="row" id="following-view">
            {% if poster.id != user.id %}
                <div class="follow">
                    <button class="btn btn-primary btn-primary-sm">Follow this user +</button>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}